.service-page{
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}
.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #bcef6a;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  color: white;
  font-size: 30px;
}

.service-card:nth-child(1) {
  background-color: #e6f7ff;
}

.service-card:nth-child(2) {
  background-color: #f7e6e6;
}

.service-card:nth-child(3) {
  background-color: #e6ffe6;
}

.service-card:nth-child(4) {
  background-color: #fff0e6;
}

.service-card:nth-child(5) {
  background-color: #e6ffe6;
}

.service-card:nth-child(6) {
  background-color: #f7e6ff;
}

.service-card h5 {
  color: #333;
  font-weight: 600;
}

.service-card p {
  color: #666;
}
