body {
    font-family: 'Segoe UI', sans-serif;
    color: #ccf43e;
    background-color: #1c1c24;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
  }
  
  a {
    transition: all 0.3s ease-in-out;
  }
  